h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.contentContainer {
    padding: 40px;
    text-align: center;
    background-color: #ECEDE5;
  }
  
  .contentContainer h1 {
    font-size: 2rem;
    margin-bottom: 30px;
  }
  
  .video {
    width: 100%;
    max-width: 800px;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border: solid 1px #2f3a56;
  }
  